header
{
  /* position: relative; */
  display: inline-block;
  font-weight: bold;
  font-size: 20pt;
  margin: 20px 0 50px 0;
}

.company-name
{
  position: absolute;
  left: 20px;
}

.receipt
{
  position: absolute;
  right: 20px;
  text-transform: uppercase;
}

.body
{
  font-size: 12pt;
  margin: 0 20px;
}

.address
{
  margin-bottom: 40px;
}

.receiptTable
{
  border: 1px solid;
  margin-top: 50px;
  width: 100%;
  empty-cells: hide;
  line-height: 20px;
}

.receiptTable th
{
  border: 1px solid;
  text-transform: uppercase;
  text-align: center;
  background-color: #E7E7E7;
}

.receiptTable td
{
  border: 1px solid;
  text-align: center;
}
